<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Doce Neve{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
<header class="cabecalho">
    <a href="{{ url_for('inicio') }}" class="logo">🍦 Doce Neve</a>
    <nav>
        <a href="{{ url_for('inicio') }}">Início</a>
        <a href="{{ url_for('cardapio') }}">Cardápio</a>
        <a href="{{ url_for('ranking') }}">Gamificação 🏆</a>

        {% if session.get("usuario") %}

            <a href="{{ url_for('perfil') }}">Perfil</a>

            {% if session.get("adm") %}
                <a href="{{ url_for('admin') }}">Administração 👑</a>
            {% endif %}

            <a href="{{ url_for('logout_confirmar') }}">Sair</a>

        {% else %}

            <a href="{{ url_for('login') }}">Entrar</a>
            <a href="{{ url_for('cadastro') }}" class="botao-nav">Cadastrar</a>

        {% endif %}
    </nav>
</header>

<main class="container">
    <div class="botao-voltar">
        <button type="button" onclick="history.back()">
            ← Voltar
        </button>
    </div>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% for categoria, mensagem in mensagens %}
            <div class="alerta {{ categoria }}">{{ mensagem }}</div>
        {% endfor %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>

<footer><p>🍨 Doce Neve — felicidade em cada colherada.</p></footer>
</body>
</html>